<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
</head>
<body>
    <!-- Profile: <br>
    <%= JSON.stringify(user) %>
    <br><br><br> -->
    <div class="container">
        DATE FILED: <%= user.joined %><br>
        FILE NUMBER: <%= user._id %><br>
        DECEDENT NAME: <%= user.name.toUpperCase() %><br>
        APPARITION CLASS: <%= user.race.toUpperCase() %><br>
        DATE OF BIRTH: <%= user.dob %><br>
        DATE OF DEATH: <%= user.dod %><br>
        CAUSE OF DEATH: <%= user.cod.toUpperCase() %><br><br>
        THIS IS A TRUE CERTIFICATION OF NAME AND DEATH FACTS AS RECORDED BY THE BUREAU OF AFTERLIFE RECORDS, DISTRICT 9853562951413.<br>
        J. EDGAR HOOVER<br>
        DIRECTOR<br>

    </div>
</body>
</html>