<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%= uuid %>
    <%= slname %>
    <form action="/register" method="post">
        name: <input type="text" name="name" id="" required><br>
        date of birth: <input type="date" name="dob" id="" required><br>
        date of death: <input type="date" name="dod" id="" required><br>
        cause of death: <input type="text" name="cod" id="" required><br>
        Place of Birth: <input type="text" name="pob" id="" required><br>
        class: <select name="race" id="" required>
            <option value="phantom">phantom</option>
            <option value="demon">demon</option>
            <option value="cryptid">cryptid</option>
          </select><br>

        Do you accept our terms? <br><input type="checkbox" name="tos" id="" required> yes<br>
        <input type="text" name="uuid" id="" value="<%= uuid %>" hidden required>
        <input type="text" name="joined" id="" value="<%- new Date() %>" hidden required>
        <input type="text" name="slname" id="" value="<%= slname %>" hidden required>
<br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>