<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.socket.io/3.0.5/socket.io.min.js"></script>
    <script defer src="/spellbar.js"></script>
</head>
<body>
    <div id="uuid-data" data-test=<%= user.uuid %>></div>
    <style>
        body, html{
            margin: 0;
            padding: 0;
            overflow: hidden;
            /* overflow-x: hidden; */
            font-size: 2vw;
            font-weight: bold;
            background-color: rgb(37, 37, 36);
            color: bisque;
        }
        .container{
            margin-top: 4vw;
            width: 100vw;
            height: 100%;
        }
        .left-align{
            float: left;
            height: 100%;
            width: 25vw;
            margin-left: 3vw;
            /* border: red solid 1px; */
        }
        .right-align{
            /* border: blue solid 1px; */
            float: right;
            margin-right: 2vw;
            height: 100%;
            width: 69vw;
        }
        .circle-container{
            display: block;
            margin: auto;
            width: 20vw;
            height: 20vw;
            transform: rotate(-45deg);
            background-color: rgb(0, 0, 0);
            border-radius: 100vw;
            position: relative;
            
        }
        .upper-circle{
            /* border: 1px solid black; */
            border-radius: 100vw 100vw 0   0  ;
            height: 50%;
            width: 100%;
        }
        .lower-circle{
            /* border: 1px solid black; */
            border-top: none;
            height: 50%;
            width: 100%;
            border-radius: 0  0 100vw 100vw;
        }
        .inner-circle-bottom{
            position: absolute;
            left:2.3vw;
            display: block;
            width: 78%;
            height: 35%;
            margin: auto;
            margin-top: 5%;
            background-color: white;
            border-radius: 0  0 100vw 100vw;
            background-image: url('https://i.pinimg.com/originals/5a/bf/82/5abf82bfded652ae54159e7677b79057.gif');
            background-size: cover;
        }
        .inner-circle-top{
            position: absolute;
            top: 2.2vw;
            left:2.3vw;
            display: block;
            width: 78%;
            height: 35%;
            margin: auto;
            margin-bottom: 5%;
            background-color: white;
            border-radius: 100vw 100vw 0  0 ;
            background-image: url('https://i.pinimg.com/originals/17/0b/55/170b55f5d7238e5e3ff41436ce3091d4.gif');
            background-size: cover;
        }
        .text-info{
            text-align: justify;
            font-size: 1.5vw;
            margin-bottom: 0.5vw;
            width: 70%;
        }
        .second-container{
            width: 100%;
            height: 6vw;
            /* border: aqua 1px solid; */
        }
        .left-align2{
            float: left;
            /* border: black solid  1px; */
            height: 100%;
            width: 70%;
        }
        .right-align2 {
            float: right;
            /* border: black solid  1px; */
            height: 100%;
            width: 29%;
        }
        .ecto-bar{
            display: block;
            margin-top: 0.7%;
            height: 40%;
            background-color: red;
            width: 100%;
            border-radius: 0.5vw;
            background-image: url('https://i.pinimg.com/originals/5a/bf/82/5abf82bfded652ae54159e7677b79057.gif');
            background-size: cover;
            position: relative;
            overflow: hidden;
        }
        #ecto-bar-span{
            background-color: rgba(255, 0, 0, 0.568);
            width: 100%;
            height: 100%;
            color: rgb(251, 255, 0);
        }
        .pk-bar{
            display: block;
            margin-top: 1%;
            height: 40%;
            background-color: purple;
            width: 100%;
            border-radius: 0.5vw;
            background-image: url('https://i.pinimg.com/originals/5a/bf/82/5abf82bfded652ae54159e7677b79057.gif');
            background-size: cover;
            position: relative;
            overflow: hidden;
        }
        #pk-bar-span{
            background-color: rgba(128, 0, 128, 0.5);
            width: 100%;
            height: 100%;
            color: rgb(255, 0, 170);
        }
        .bones-balance{
            display: block;
            margin:auto;
            margin-top: 1.7vw;
            font-size: 2vw;
            /* border: blueviolet 1px solid; */
        }
        .spell-container{
            /* border: 1px solid pink; */
            height: 11.4vw;
            width: 100%;
            display: flex;
        }
        .spell{
            background-color: rgb(131, 131, 131);
            width: 10vw;
            height: 10vw;
            margin: 2.6vw;
            margin-top: 1vw;
            margin-left: 0;
            border-radius: 1vw;
        }
        .spell img{
            border-radius: 1vw;
            width: 100%;
            height: 100%;
        }
        .cooldown{
            position: absolute;
            color: white;
            font-size: 8vw;
            margin-left: -0.2vw;
            text-align: center;
            width: 10vw;
            z-index: 3;
        }
        .spell {
            position: relative;
            overflow: hidden;
        }
        .item-image-effects{
            position: absolute;
            height: 120%;
            width: 120%;
            
            left: -1vw;
            top: -1vh;
        }
        .ontop {
            position: absolute;
            z-index: 2;
        }
        /* .bar-energy {
            position: absolute;
            overflow: hidden;
            width: 10vw;
            height: 3vw;
            border-radius: 5vw;
        }
        .bar-energy img{
            width: 100%;
            height: 100%;
        } */
    </style>
    
    <!-- <img style="height: 100vh; width: 100vw;" src="https://i.gyazo.com/aef66d33d9a20943e1bb4b1409a8e448.png" alt=""> -->
    <div class="container">
        <div class="left-align">
            <div class="circle-container">
                <div class="upper-circle">
                    <div class="inner-circle-top"></div>
                </div>
                <div class="lower-circle">
                    <div class="inner-circle-bottom"></div>
                </div>
            </div>
        </div>
        <div class="right-align">
            <div class="text-info"><span>Pandora's Toy Box, AFTERGLOW</span>  <span id="target" style="float: right;">Targeting: <%= user.combat.target %></span></div>
            <div class="second-container">
                <div class="left-align2">
                    <div class="ecto-bar" id="ecto-bar" style="width: <%= (user.ecto/user.ecto_max * 100) %>%;">
                        <!-- <div class="bar-energy"><img src="https://i.pinimg.com/originals/5a/bf/82/5abf82bfded652ae54159e7677b79057.gif" alt=""></div> -->
                        <span id="ecto-bar-span" style="position: absolute;">ECTO <%= user.ecto %>/<%= user.ecto_max %></span>
                    </div>
                    <div class="pk-bar" id="pk-bar" style="width: <%= (user.ap/user.ap_max * 100) %>%;">
                        <span id="pk-bar-span" style="position: absolute;">PK <%= user.ap %>/<%= user.ap_max %></span>
                    </div>
                </div>
                <div class="right-align2">
                    <div class="bones-balance" id="bones-balance">₿$ <%= user.bone %></div>
                </div>
            </div>
            <div class="spell-container">
                <%  user.combat.cooldown = {
                    1: 0,
                    2: 0,
                    3: 0,
                    4: 0,
                    5: 0
                }; %>
                <% let spell_images = {
                    one: '',
                    two: '',
                    three: '',
                    four: '',
                }
                for(var key in user.skills) {
                    if(user.skills[key].assigned == 1) spell_images.one = user.skills[key].image
                    if(user.skills[key].assigned == 2) spell_images.two = user.skills[key].image
                    if(user.skills[key].assigned == 3) spell_images.three = user.skills[key].image
                    if(user.skills[key].assigned == 4) spell_images.four = user.skills[key].image
                } %>
                <div class="spell" id="spell-1"><span id="cooldown-1" class="cooldown"><%= user.combat.cooldown['1'] %></span>
                    <div class="item-image-effects">
                        <img class="item-image" src="https://i.pinimg.com/originals/17/0b/55/170b55f5d7238e5e3ff41436ce3091d4.gif" alt="">
                      </div>
                    <% if(spell_images.one != ''){ %><img class="ontop" src="<%= spell_images.one %>" alt=""><%}%></div>
                <div class="spell" id="spell-2"><span id="cooldown-2" class="cooldown"><%= user.combat.cooldown['2'] %></span>
                    <div class="item-image-effects">
                        <img class="item-image" src="https://i.pinimg.com/originals/17/0b/55/170b55f5d7238e5e3ff41436ce3091d4.gif" alt="">
                      </div>
                    <% if(spell_images.two != ''){ %><img class="ontop" src="<%= spell_images.two %>" alt=""><%}%></div>
                <div class="spell" id="spell-3"><span id="cooldown-3" class="cooldown"><%= user.combat.cooldown['3'] %></span>
                    <div class="item-image-effects">
                        <img class="item-image" src="https://i.pinimg.com/originals/17/0b/55/170b55f5d7238e5e3ff41436ce3091d4.gif" alt="">
                      </div>
                    <% if(spell_images.three != ''){ %><img class="ontop" src="<%= spell_images.three %>" alt=""><%}%></div>
                <div class="spell" id="spell-4"><span id="cooldown-4" class="cooldown"><%= user.combat.cooldown['4'] %></span>
                    <div class="item-image-effects">
                        <img class="item-image" src="https://i.pinimg.com/originals/17/0b/55/170b55f5d7238e5e3ff41436ce3091d4.gif" alt="">
                      </div>
                    <% if(spell_images.four != ''){ %><img class="ontop" src="<%= spell_images.four %>" alt=""><%}%></div>
                <div class="spell" id="spell-5">
                    
                </div>
            </div>
            
        </div>
    </div>
</body>
</html>